<div class="home-state-box">
  <h3> Home State</h3>
  <span class="load-utility-panel-link" data-ng-click="changeView1()">Load Utility Panel Directive (Directive in Directive)</span><br>
  <span class="link-actions" data-ng-click="changeView2()">Load All Items</span><br>
  <span class="link-actions" data-ng-click="addListItem()">Add List Item</span><br>
  <span class="link-actions" data-ng-click="displayMultiPanelManagement()">Display Multi Panel Layout</span>
  <br><br><br><span class="link-state-transition" data-ui-sref="root.secondState">Go to Second State (flips directives)</span>
</div>