<div class="second-state-box">
  <h3> Second State </h3>
  <span class="link-state-transition" data-ng-click="changeView1()">Multi Panel Directive (Directive in Directive Possible)</span><br>
  <span class="link-actions" data-ng-click="changeView2()">Load All Items (after click transactions)</span><br>
  <span class="link-actions" data-ng-click="addListItem()">Add List Item</span><br>
  <span class="link-actions" data-ng-click="displayMultiPanelManagement()">Display Multi Panel Layout</span>
  <br><br><br><span class="link-state-transition" data-ui-sref="root.home">Go to Home State (directives maintained)</span>
</div>